name: Deploy
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Run App
    runs-on: ubuntu-latest
    steps:
      - name: Download files from git
        uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build app
        run: mvn package --file pom.xml
      - name: Download project as artifact
        uses: actions/upload-artifact@master
        with:
          name: mspr
          path: out/artifacts/mspr_jar/mspr.jar
      - name: Install OpenVPN
        run: |
          sudo apt update
          sudo apt install -y openvpn openvpn-systemd-resolved
      - name: Connect to VPN
        uses: "kota65535/github-openvpn-connect-action@v1"
        with:
          config_file: ".github/workflows/client.ovpn"
          username: ${{ secrets.OVPN_USERNAME }}
          password: ${{ secrets.OVPN_PASSWORD }}
          client_key: ${{ secrets.OVPN_CLIENT_KEY }}
          tls_auth_key: ${{ secrets.OVPN_TLS_AUTH_KEY }}
          
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@master
        with:
          name: mspr
          path: out/artifacts/mspr_jar/mspr.jar
      
      - name: Deploy project with SSH
        uses: easingthemes/ssh-deploy@v2.1.4
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          REMOTE_PORT: 22
          TARGET: "mspr/"
          SOURCE: "out/artifacts/mspr_jar/mspr.jar"
     
